In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('AirPassengers.csv')

In [6]:
df.head()

  TravelDate  Passengers
0   1/1/1949         112
1   2/1/1949         118
2   3/1/1949         132
3   4/1/1949         129
4   5/1/1949         121

In [8]:
df.head(10)

  TravelDate  Passengers
0   1/1/1949         112
1   2/1/1949         118
2   3/1/1949         132
3   4/1/1949         129
4   5/1/1949         121
5   6/1/1949         135
6   7/1/1949         148
7   8/1/1949         148
8   9/1/1949         136
9  10/1/1949         119

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TravelDate  144 non-null    object
 1   Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB
None

In [11]:
new_df = df.dropna()

In [13]:
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TravelDate  144 non-null    object
 1   Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.4+ KB
None

In [14]:
print(df.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
139    False
140    False
141    False
142    False
143    False
Length: 144, dtype: bool

In [15]:
new_df.drop_duplicates(inplace = True)

In [16]:
print(new_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 144 entries, 0 to 143
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TravelDate  144 non-null    object
 1   Passengers  144 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.4+ KB
None