<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [4]:
df = pd.read_csv("Employee-attrition.csv")

In [5]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [6]:
df.tail()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
49648,8258,12/1/2015 0:00,5/28/1994,8/19/2013,12/30/2015,21,2,Valemount,Dairy,Dairy Person,34,M,Male,Layoff,Involuntary,2015,TERMINATED,STORES
49649,8264,8/1/2013 0:00,6/13/1994,8/27/2013,8/30/2013,19,0,Vancouver,Customer Service,Cashier,44,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49650,8279,12/1/2015 0:00,7/18/1994,9/15/2013,12/30/2015,21,2,White Rock,Customer Service,Cashier,39,F,Female,Layoff,Involuntary,2015,TERMINATED,STORES
49651,8296,12/1/2013 0:00,9/2/1994,10/9/2013,12/31/2013,19,0,Kelowna,Customer Service,Cashier,16,F,Female,Resignaton,Voluntary,2013,TERMINATED,STORES
49652,8321,12/1/2014 0:00,11/28/1994,11/24/2013,12/30/2014,20,1,Grand Forks,Customer Service,Cashier,13,F,Female,Layoff,Involuntary,2014,TERMINATED,STORES

# Accessing the main DataFrame components

In [7]:
columns = df.columns
index = df.index
data = df.values

In [8]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [9]:
index

RangeIndex(start=0, stop=49653, step=1)

In [10]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find Shape of Data Frame

In [12]:
# A:
df.shape

(49653, 18)

#### 1.B Find Data Tyeps of Data Frame

In [16]:
# A:
df.dtypes

EmployeeID              int64
recorddate_key         object
birthdate_key          object
orighiredate_key       object
terminationdate_key    object
age                     int64
length_of_service       int64
city_name              object
department_name        object
job_title              object
store_name              int64
gender_short           object
gender_full            object
termreason_desc        object
termtype_desc          object
STATUS_YEAR             int64
STATUS                 object
BUSINESS_UNIT          object
dtype: object

#### 1.C Find Number of Data Types in a Data Frame



```
Expected Output:
int64      5
object    13
dtype: int64
```

#### 1.D Use Info

Use info and explore difference.

In [17]:
# A:
df.info

<bound method DataFrame.info of        EmployeeID   recorddate_key birthdate_key orighiredate_key  \
0            1318  12/31/2006 0:00      1/3/1954        8/28/1989
1            1318  12/31/2007 0:00      1/3/1954        8/28/1989
2            1318  12/31/2008 0:00      1/3/1954        8/28/1989
3            1318  12/31/2009 0:00      1/3/1954        8/28/1989
4            1318  12/31/2010 0:00      1/3/1954        8/28/1989
...           ...              ...           ...              ...
49648        8258   12/1/2015 0:00     5/28/1994        8/19/2013
49649        8264    8/1/2013 0:00     6/13/1994        8/27/2013
49650        8279   12/1/2015 0:00     7/18/1994        9/15/2013
49651        8296   12/1/2013 0:00      9/2/1994        10/9/2013
49652        8321   12/1/2014 0:00    11/28/1994       11/24/2013

      terminationdate_key  age  length_of_service    city_name  \
0                1/1/1900   52                 17    Vancouver
1                1/1/1900   53                 18    Vancouver
2                1/1/1900   54                 19    Vancouver
3                1/1/1900   55                 20    Vancouver
4                1/1/1900   56                 21    Vancouver
...                   ...  ...                ...          ...
49648          12/30/2015   21                  2    Valemount
49649           8/30/2013   19                  0    Vancouver
49650          12/30/2015   21                  2   White Rock
49651          12/31/2013   19                  0      Kelowna
49652          12/30/2014   20                  1  Grand Forks

        department_name     job_title  store_name gender_short gender_full  \
0             Executive           CEO          35            M        Male
1             Executive           CEO          35            M        Male
2             Executive           CEO          35            M        Male
3             Executive           CEO          35            M        Male
4             Executive           CEO          35            M        Male
...                 ...           ...         ...          ...         ...
49648             Dairy  Dairy Person          34            M        Male
49649  Customer Service       Cashier          44            F      Female
49650  Customer Service       Cashier          39            F      Female
49651  Customer Service       Cashier          16            F      Female
49652  Customer Service       Cashier          13            F      Female

      termreason_desc   termtype_desc  STATUS_YEAR      STATUS BUSINESS_UNIT
0      Not Applicable  Not Applicable         2006      ACTIVE    HEADOFFICE
1      Not Applicable  Not Applicable         2007      ACTIVE    HEADOFFICE
2      Not Applicable  Not Applicable         2008      ACTIVE    HEADOFFICE
3      Not Applicable  Not Applicable         2009      ACTIVE    HEADOFFICE
4      Not Applicable  Not Applicable         2010      ACTIVE    HEADOFFICE
...               ...             ...          ...         ...           ...
49648          Layoff     Involuntary         2015  TERMINATED        STORES
49649      Resignaton       Voluntary         2013  TERMINATED        STORES
49650          Layoff     Involuntary         2015  TERMINATED        STORES
49651      Resignaton       Voluntary         2013  TERMINATED        STORES
49652          Layoff     Involuntary         2014  TERMINATED        STORES

[49653 rows x 18 columns]>

# 2. Selecting Column in Data Frame

#### 2.A Check Values of Job_Title column

In [20]:
# A:
df['job_title'].value_counts()

Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
Baker                              8096
Cashier                            6816
Shelf Stocker                      5622
Customer Service Manager            306
Processed Foods Manager             289
Bakery Manager                      285
Meats Manager                       285
Produce Manager                     278
Store Manager                       271
Recruiter                            62
HRIS Analyst                         55
Accounting Clerk                     50
Benefits Admin                       35
Labor Relations Analyst              30
Accounts Receiveable Clerk           30
Trainer                              26
Accounts Payable Clerk               25
Systems Analyst                      20
Compensation Analyst                 20
Investment Analyst                   20
Auditor                              20
Corporate Lawyer                     17
CHief Information Officer            10
Exec Assistant, Legal Counsel        10
VP Stores                            10
Exec Assistant, Human Resources      10
Director, Recruitment                10
Exec Assistant, VP Stores            10
Legal Counsel                        10
Exec Assistant, Finance              10
CEO                                  10
VP Finance                           10
VP Human Resources                   10
Dairy Manager                         9
Director, HR Technology               9
Director, Employee Records            9
Director, Accounts Receivable         9
Director, Accounting                  9
Director, Accounts Payable            9
Director, Labor Relations             4
Director, Compensation                4
Director, Audit                       4
Director, Investments                 4
Director, Training                    4
Name: job_title, dtype: int64

#### 2.B Find How Many Rows Are in Each Job Title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [22]:
# A:
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows

#### 2.C [BONUS] Write A Function to Row Count



```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

#### 2.D Describe 'Age'

Find count,  mean,  std, min, max of column 'age'

In [28]:
# A:
df['age'].count()

49653

In [27]:
df['age'].mean()

42.077034620264634

In [30]:
df['age'].std()

12.427257399272257

In [32]:
df['age'].min()

19

In [33]:
df['age'].max()

65

##### 2.E [BONUS] Describe 'All Numeric Columns of Data Frame

Find count, mean, std, min, max of of all columns of dataframe

In [35]:
# A:
df.count()

EmployeeID             49653
recorddate_key         49653
birthdate_key          49653
orighiredate_key       49653
terminationdate_key    49653
age                    49653
length_of_service      49653
city_name              49653
department_name        49653
job_title              49653
store_name             49653
gender_short           49653
gender_full            49653
termreason_desc        49653
termtype_desc          49653
STATUS_YEAR            49653
STATUS                 49653
BUSINESS_UNIT          49653
dtype: int64

In [36]:
df.mean()

EmployeeID           4859.495740
age                    42.077035
length_of_service      10.434596
store_name             27.297605
STATUS_YEAR          2010.612612
dtype: float64

In [37]:
df.std()

EmployeeID           1826.571142
age                    12.427257
length_of_service       6.325286
store_name             13.514134
STATUS_YEAR             2.845577
dtype: float64

In [38]:
df.min()

EmployeeID                         1318
recorddate_key            1/1/2006 0:00
birthdate_key                  1/1/1946
orighiredate_key               1/1/1990
terminationdate_key            1/1/1900
age                                  19
length_of_service                     0
city_name                    Abbotsford
department_name              Accounting
job_title              Accounting Clerk
store_name                            1
gender_short                          F
gender_full                      Female
termreason_desc                  Layoff
termtype_desc               Involuntary
STATUS_YEAR                        2006
STATUS                           ACTIVE
BUSINESS_UNIT                HEADOFFICE
dtype: object

In [39]:
df.max()

EmployeeID                      8336
recorddate_key         9/1/2015 0:00
birthdate_key               9/9/1994
orighiredate_key            9/9/2012
terminationdate_key         9/9/2010
age                               65
length_of_service                 26
city_name              Williams Lake
department_name             Training
job_title                  VP Stores
store_name                        46
gender_short                       M
gender_full                     Male
termreason_desc           Retirement
termtype_desc              Voluntary
STATUS_YEAR                     2015
STATUS                    TERMINATED
BUSINESS_UNIT                 STORES
dtype: object

# 3. Making The Index Meaningful

In [ ]:
# A:

#### 3.A Find A Specifc Row Using Index

In [42]:
# A:
df_sub1=df.iloc[100,:]
df_sub1.head()

EmployeeID                        1331
recorddate_key         12/31/2006 0:00
birthdate_key                1/28/1965
orighiredate_key             9/10/1989
terminationdate_key           1/1/1900
Name: 100, dtype: object

#### 3.B Sort Data Frame using Index

In [ ]:
# A:

#### 3.C [BONUS] Sort Data Frame using Age

In [ ]:
# A:

#### 3.D [BONUS] Using Sample Select Any Row

In [ ]:
# A:

# 4. Query Data Frame

#### 4.A Find Rows Where Job_Title is CEO

In [ ]:
# A:

#### 4.B Group By Age

In [ ]:
# A:

# 5. Visualization

> Indented block



#### 5.A Plot Histogram of Age

In [ ]:
# A:

#### 5.B BoxPlot of Age

In [ ]:
# A:

#### 5.C Scatterplot of age and length_of_service

In [ ]:
# A:

#### 5.D Print Statistical Summary of Age

In [ ]:
# A:



---



---



> > > > > > > > > Â© 2022 Institute of Data


---



---